.btnContainer {
  border-radius: 20px;
  box-shadow: 27px 12px 121px -69px rgba(255, 255, 255, 0.75);
  align-items: center;
  justify-content: center;
  display: flex;
  border-color: #6b94bc;
  border-width: 2;
  border-style: solid;
  font-size: 1.8rem;
  margin-block-end: 50px;
  margin-block-start: 50px;
  margin-inline-end: 50px;
  margin-inline-start: 50px;
  cursor: pointer;
  font-weight: bold;
}
